rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow authenticated users to read and write
      allow read, write: if request.auth != null;
    }
  }
}