rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read access for everyone (unauthenticated) during development
      allow read: if request.auth == null && request.origin == "http://localhost:3000";
      
      // Restrict write access to authenticated users
      allow write, read: if request.auth != null;
    }
  }
}